.border-orange {
  border-width: 5px;
  border-style: solid;
  border-color: orange;
  border-radius: 10px;
  margin: 20px;
}

.border-blue {
  border-width: 5px;
  border-style: solid;
  border-color: blue;
  border-radius: 10px;
  margin: 20px;

}

.border-red {
  border-width: 5px;
  border-style: solid;
  border-color: red;
  border-radius: 10px;
  margin: 20px;

}
